body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #2b2b2b;
  height: 22vh;
}

p {
  color: #858585;
  display: inline-flex;
  font-size: 1.3rem;
  justify-content: space-between;
}

h1 {
  color: #fbfbfb;
  cursor: pointer;
  display: flex;
  font-family: 'Corben', serif;
  font-size: 3rem;
  font-weight: 400;
  justify-content: flex-end;
  padding-right: 2rem;
}

h2 {
  color: #4e4e4e;
  font-size: 2.7rem;
  font-weight: 400;
  margin: 3rem 0 .5rem 1.2rem;
}

a {
   background-color: #efefef;
   background-color: lightgray;
   border-width: 
   color: #898989;
   text-decoration: none;
   white-space: -moz-pre-wrap;
   white-space: -o-pre-wrap;
   white-space: -pre-wrap;    
   white-space: pre-wrap;   
   word-wrap: break-word;
}

#top-right-page {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: .9rem 2rem 0 0;
}

#username-icon {
  height: 1.9rem;
  width: 1.9rem;
}

#admin-username-text {
  color: #0290ca;
  font-size: 1rem;
  margin: .5rem 0 0 0;
  padding: 0 .5rem 0 .5rem;
}

#funnel-icon {
  height: .9rem;
  margin: .5rem 0 0 0;
  width: .9rem;
}

#bottom-header {
  display: flex;
  justify-content: space-between;
}

#shares-small {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 1.3rem;
}

.left-header-icon {
  cursor: pointer;
  font-weight: 300;
  height: 1.3rem;
  padding: 4rem .5rem 0 2.3rem;
  width: 1.3rem;
}

#ribbon-swirl {
  height: 3.5rem;
  width: 3rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 24.3%);
  grid-template-rows: repeat(2, 50%);
}

.arrow-icon {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 4.3rem;
  margin: .9rem 0 0 .9rem;
  width: 4.3rem;
}

.box {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  height: 100%;
  margin: 2rem 0 0 1.2rem;
}

.contents-top-box {
  display: flex;
  justify-content: space-between;
}

.views-top-box {
  color: #f8f8f6;
  font-size: .85rem;
  letter-spacing: .05rem;
  padding: .5rem 1.5rem 0 0;
}

.number-top-box {
  color: #f8f8f6;
  display: flex;
  font-size: 2.3rem;
  font-weight: 300;
  justify-content: flex-end;
  margin-top: -2.8rem;
  padding: 0 1.7rem 4rem 0;
}

.box-header-text {
  color: #4e4545;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0 1rem;
}

.box-paragraph-text {
  color: #98999b;
  font-size: .9rem;
  margin: 0 0 1.4rem 1rem;
}

.link-text {
  color: #808080;
  display: block;
  font-size: .9rem;
  margin: 0rem 1.2rem 0 1.2rem;
  padding: .8rem 0 .75rem .75rem;
}

.playlist {
  color: #565656;
  display: block;
  font-size: .85rem;
  margin: 1.4rem 0 0 1rem;
}

.playlist-name {
  color: #565656;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  margin: .3rem 0 0 1rem;
}

.attachments {
  color: #565656;
  display: block;
  font-size: .8rem;
  font-weight: 500;
  margin: 1.3rem 0 0 1rem;
}

.bottom-number {
  color: #00b4ff;
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  margin: .4rem 0 0 1rem;
}

.box5, .box6, .box7, .box8 {
  margin: 3rem 0 2rem 1.2rem;
}

.box-head-image-1 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/steve-carell.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-2 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/pam.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-3 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/dwight-1.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-4 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/stanley.png);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-5 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), 
    url(images/kelly-kapoor.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-6 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/jim-1.jpeg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}
.box-head-image-7 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/kelly-erin.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

.box-head-image-8 {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/andy.jpg);
  background-size: cover;
  background-position: center center;
  height: 36%;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, 33%);
  }
  .box4, .box5, .box6 {
  margin: 3rem 0 2rem 1.2rem;
  }
  .box7, .box8 {
    margin-top: 4rem;
  }
}  

@media screen and (max-width: 950px) {
  h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.1rem;
  }
  #ribbon-swirl {
    height: 2.5rem;
    width: 2rem;
  }
  #shares-small {
    font-size: 1.1rem;
  }
  .views-top-box {
    font-size: .7rem;
    padding-right: .5rem;
  }
  .number-top-box {
    font-size: 2rem;
    padding-right: .7rem;
  }
  .arrow-icon {
    height: 3.7rem;
    margin-left: .4rem;
    width: 3.7rem;
  }
  .playlist-name {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    padding: 2rem .6rem 0 0;
  }
  p {
    font-size: .9rem;
  }
  #top-right-page {
    padding: .9rem .6rem 0 0;
  }
  #shares-small {
    font-size: .9rem;
  }
  #username-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  #ribbon-swirl {
    height: 2rem;
    width: 1.5rem;
  }
  #funnel-icon {
    height: .7rem;
    width: .7rem;
  }
  .left-header-icon {
    font-weight: 300;
    height: 1rem;
    padding: 4rem .5rem 0 1.5rem;
    width: 1rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 20%);
  }
  .box3, .box4 {
    margin: 3rem 0 2rem 1.2rem;
  }
  .box5, .box6 {
    margin-top: 4rem;  
  }
  .box7, .box8 {
    margin-top: 5rem;
  }
}  

@media screen and (max-width: 570px) {
  h2 {
    font-size: 2rem;
  }  
  .left-header-icon {
    height: 1rem;
    padding: 4rem .5rem 0 .5rem;
    width: 1rem;
  }
  #admin-username-text {
    font-size: .8rem;
  }
  #shares-small, .header-text {
    display: none;
  }
}  

@media screen and (max-width: 460px) {
  h1 {
    padding: 1rem .6rem 0 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 95%);
    grid-template-rows: repeat(8, 25%);
  }
  .left-header-icon {
    padding: 3rem .5rem 0rem .5rem;
  }
  .box2 {
    margin-top: 3rem;
  }
  .box3 {
    margin-top: 4rem;
  }
  .box4 {
    margin-top: 5rem;
  }
  .box5 {
    margin-top: 6rem;
  }
  .box6 {
    margin-top: 7rem;
  }
  .box7 {
    margin-top: 8rem;
  }
  .box8 {
    margin-top: 9rem;
  }
}  